@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Noto Sans Thai", sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    width: auto;
    height: 10vh;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.overview-text{
    font-size: 2em;
}

.account-informaiton{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2em;
}
.img-icon {
    width: 75px;
    margin-right: 1em;
}
.container {
    margin: 0 32px;
}

.title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5em;
}

.text-title {
    margin-left: 1em;
}

.text-title h2 {
    font-size: 2rem;
    font-weight: bold;
}

#show-data {
    margin-top: 1em;
    width: 100%;
    height: 20vh;
    resize: none;
}

.account {
    display: flex;
    flex-wrap: wrap;
}

.title-information {
    font-size: 1.5em;
    font-weight: bold;
}

.current-cash-input, .current-account-input {
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 6px;
    border: 1px solid #aaaaaa;
}

.current-information {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.current-account , .current-cash{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.current-account-text , .current-cash-text{
    width: 35%;
    padding-right: .25em;
}

.on-change-btn-convert{
    padding: 0.6em 2em;
    border: 1px solid #FAB12F;
    color: black;
    background-color: #FAB12F;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.on-change-btn-convert:hover{
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid #FAB12F;
}

.on-change-btn-proceed{
    padding: 0.6em 2em;
    border: 1px solid #04AA6D;
    color: white;
    background-color: #04AA6D;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.on-change-btn-proceed:hover{
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid #04AA6D;
    color: black;
}

.on-change-btn {
    padding: 0.6em 2em;
    border: 1px solid #3985ff;
    color: white;
    background-color: #3985ff;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: .5em;
}

.on-change-btn:hover{
    background-color: transparent;
    border: 1px solid #3985ff;
    color: black;
}

.command-select, .amount-command{
    padding: 0.4em 2em;
    border-radius: 6px;
    border: 1px solid #aaaaaa;
}

.input-balance-side, .output-balance-side{
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 6px;
    border: 1px solid #aaaaaa;
}

.input-currency button {
    margin-left: 1em;
}

.input-balance, .output-balance , .input-currency{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: .5em;
}

.input-balance-text, .output-balance-text , .input-currency-text{
    width: 8em;
}
